/.env.local
/.env.dev
/.env.local.php
/.env.*.local
/var/
/vendor/
/public/uploads/
/public/build/
/node_modules/
.idea/
.vscode/
*.swp
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
